<div id="exampleModal" class="modal showModalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
            </div>
            <div class="modal-body">
                {{modalBody}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="close()">Close</button>
                <!-- <button type="button" class="btn btn-primary" (click)="close()">Save changes</button> -->
            </div>
        </div>
    </div>
</div>