
<div class="container">
  <div class="scrool-bar">
    <div class="about-content">
      <div class="SystemicLogic-group">
        <img class="img-left" src="assets/Asset1.png" alt="" />
        <div class="create-real-rightss">
          <div class="content-paragraphs">
            <p class="sys-paragraph">
              <span class="sys-login-group">SystemicLogic group </span><br />
              <span class="strategic-idea">
                Where strategic ideas are transformed into <br />innovative
                implementations
              </span>
            </p>
            <p class="sys-paragra">
              The SystemicLogic Group consolidates multiple businesses that provide
              <br />
              integrated innovation solutions through advisory, technology,
              strategic <br />
              execution, branding and investment. We believe in long-term engagement
              <br />
              with our clients and supporting every step of their success journey.
            </p>
          </div>
        </div>
      </div>
  
      <div class="create-market">
        <p>
          Create market relevant strategies and enhance your <br />
          competitive positioning with
          <span class="real-time">real-time insights.</span>
        </p>
      </div>
  
      <div class="all-main-content">
        <div class="product-details">
          <div class="product-details-adject">
            <div class="game-changing">
              <img class="img-right integrated-img" src="assets/about-us/integrated1.png" alt="" />
              <div class="create-real-left">
                <div class="content-paragraph">
                  <div class="sys-paragraphs">
                    <h2 class="sys-login mb-2">
                      Game changing actionable insights
                    </h2>
                    Executive ready outputs with clear, actionable insights <br />
                    that facilitate quick strategic decision-making on <br />
                    identified opportunities.
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="product-details-adject">
            <div class="game-changing">
              <div>
                <img class="img-lefts" src="assets/about-us/integrated2.png" alt="" />
                <div class="reliability-para">
                  <div class="content-paragraph">
                    <div class="sys-paragraphs">
                      <h4 class="sys-login mb-2">Reliability</h4>
                      Advanced AI capabilities ensuring precise <br />
                      interpretation of complex market data, reducing error <br />
                      rates typically associated with human analysis.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="product-details-adject">
            <div>
              <img class="img-right" src="assets/about-us/integrated4.png" alt="" />
              <div class="create-real-left">
                <div class="content-paragraph">
                  <div class="sys-paragraphs">
                    <h4 class="sys-login mb-2">Efficiency</h4>
                    Through automating the market scanning process,<br />
                    resources can be re-allocated to bigger picture <br />
                    strategic initiatives.
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="product-details-adject">
            <div>
              <img class="img-lefts" src="assets/about-us/integrated3.png" alt="" />
              <div class="on-demand-para">
                <div class="content-paragraph">
                  <div class="sys-paragraphs">
                    <h4 span class="sys-login mb-2">
                      On demand competitive advantage
                    </h4>
                    <span>High-intensity scanning capabilities enabling</span> <br />
                    <span>businesses to identify market opportunities and threats</span>
                    <br />
                    <span>early, offering a strategic advantage in today’s fast- </span><br />
                    <span>paced markets.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <ul class="log-terms">
              <li><a href="home" routerLink="/contact-us">Contact us</a></li>
              <li><a href="#news">Privacy Policy</a></li>
              <li><a href="#news">Terms of use</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>